<!doctype html>
<html lang="fr">
  <%- include('partials/head', { title: title }) %>
  <% include partials/header %>
  <body>
    <main>
      <h1>Zone Admin</h1>
      <p>Vous êtes connecté en tant que <strong><%= user %></strong>.</p>
      <p>Ici vous pouvez gérer le site. Même si ya rien à gérer.</p>
    </main>
  </body>
  <% include partials/footer %>
</html>
