<!doctype html>
<html lang="fr">
  <%- include('partials/head', { title: title }) %>
  <% include partials/header %>
  <body>
    <main>
      <h1>Contact</h1>
      <p>Envoyez un message via votre client mail préféré.</p>
    </main>
  </body>
  <% include partials/footer %>
</html>
