<!doctype html>
<html lang="fr">
	<%- include('partials/head', { title: 'Erreur' }) %>
    <% include partials/header %>
	<body>
		<main>
			<h1><%= message %></h1>
			<h2><%= error.status %></h2>
			<pre><%= error.stack %></pre>
		</main>
	</body>
    <% include partials/footer %>
</html>
